//====================================================================================================
.footer {
    &__row {
        display: flex;
    }

    &__text {
        padding: 56px 0px 52px 0px;
        flex: 0 1 50%;
        text-align: center;
    }

    &__logo {
        padding: 43px 0px 44px 0px;
        flex: 1 1 50%;

        & img {
            display: block;
            margin: 0px auto;
        }
    }
}

//====================================================================================================
