@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

// Підключити, якщо є локальні файли шрифтів
// @import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
// @import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "PT Sans";
$fontSize: toRem(14); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 880;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Підключення компонентів tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// scrollbar-gutter: stable;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	// .loaded & {
	// }
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// (i) Експерементальний функціонал
// Заміна обмежуючому контейнеру
[class*="--gc"] {
	@include gridContainer();
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";

// .page {
// }

/*SLIDER*/
.slider {
	&__row {
		display: flex;
	}

	&__image {
		flex: 1 1 50%;
		@media (max-width: $mobileSmall) {
			display: none;
			flex: 1 1 100%;
		}
	}

	&__body {
		padding: 75px 20px 75px 60px;
		flex: 1 1 50%;
		background-color: #000000;
	}
	&__contaner-body {
		max-width: 310px;
		margin: 0px auto;
	}
	&__title {
		font-size: 50px;
		font-family: "Akzidenz-Grotesk-BQ";
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		line-height: 1;
		margin: 0px 0px 30px 0px;
		@media (max-width: $mobile) {
			font-size: 35px;
			margin: 0px 0px 20px 0px;
		}
	}

	&__text {
		font-size: 15px;
		color: rgb(255, 255, 255);
		line-height: 1.667;
		margin: 0px 0px 50px 0px;
		@media (max-width: $mobile) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__button {
		padding: 5px 5px 5px 5px;
		font-size: 15px;
		font-family: "Bebas";
		text-decoration: underline;
		text-transform: uppercase;
		line-height: 1.667;
		text-decoration: none;
		background-color: #fff;
		margin: 0px 20px 0px 0px;
		@media (max-width: $mobile) {
			margin: 0px 10px 0px 0px;
		}
	}
	&__link {
		color: #ffffff;
		font-size: 15px;
		font-family: "Bebas";
		color: rgb(255, 255, 254);
		text-decoration: underline;
		text-transform: uppercase;
		line-height: 1.667;
		text-decoration: underline;
		@media (max-width: 590px) {
			margin: 10px 0px 0px 5px;
		}
	}
}

/*columns*/
.columns {
	padding: 75px 0px 40px 0px;
	@media (max-width: $mobile) {
		padding: 40px 0px 40px 0px;
	}

	&__column {
		flex: 0 1 25%;
		display: flex;
		@media (max-width: $mobile) {
			flex-wrap: wrap;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		@media (max-width: $mobile) {
			flex: 0 1 50%;
		}
		@media (max-width: 480px) {
			flex: 1 1 100%;
		}
	}

	&__title {
		font-size: 25px;
		font-family: "Akzidenz-Grotesk-BQ";
		color: rgb(0, 0, 0);
		text-transform: uppercase;
		line-height: 1;
		margin: 20px 0px 42px 0px;
		max-width: 170px;
		@media (max-width: $mobile) {
			margin: 10px 0px 20px 0px;
		}
	}

	&__text {
		font-size: 15px;
		color: rgb(0, 0, 0);
		padding: 0px 10px 0px 0px;
		flex: 1 1 100%;
		max-width: 170px;
		@media (max-width: $mobile) {
			max-width: none;
		}
	}

	&__button {
		font-size: 15px;
		font-family: "Bebas";
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		line-height: 1.667;
		justify-content: flex-start;
		display: flex;
		margin: 15px 0px 15px 0px;
	}

	&__button-link {
		background-color: #010101;
		padding: 5px 5px 5px 5px;
	}

	&__link {
		display: block;
		font-size: 15px;
		font-family: "Bebas";
		color: rgb(0, 0, 0);
		text-decoration: underline;
		text-transform: uppercase;
		line-height: 1.667;
		margin: 0px 0px 40px 0px;
		& a {
			text-decoration: underline;
		}
	}
}

/*choose*/
.choose {
	@media (max-width: $mobileSmall) {
		margin: -20px 0px 0px 0px;
	}
	&__row {
		display: flex;
	}

	&__title {
		flex: 1 0 50%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 50px;
		min-height: 200px;
		background-color: #000000;
		font-family: "AkzidenzGroteskBQ";
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		line-height: 0.5;
		text-align: right;

		@media (max-width: $mobileSmall) {
			font-size: 30px;
			min-height: 100px;
			margin: -20px 0px 0px 0px;
		}
	}
	&__title-row {
		margin: 0px 40px 0px 0px;
	}
	&__img {
		flex: 0 1 50%;
	}
	&__image {
		@media (max-width: $tablet) {
			display: none;
		}
	}
}
/*block-item*/
.block-item {
	padding: 50px 0px 50px 0px;
	&__row {
		background-color: #ebebeb;
	}

	&__columns {
		display: flex;
		flex-wrap: wrap;
	}

	&__column-one {
		flex: 0 1 50%;
		display: flex;
		margin: 0px 0px 50px 0px;
		@media (max-width: $tablet) {
			flex: 1 1 100%;
		}
	}
	&__column-two {
		flex: 0 1 50%;
		display: flex;
		margin: 0px 0px 50px 0px;
		@media (max-width: $tablet) {
			flex: 1 1 100%;
		}
	}
	&__column-three {
		flex: 0 1 50%;
		display: flex;
		@media (max-width: $tablet) {
			flex: 1 1 100%;
			margin: 0px 0px 50px 0px;
		}
	}
	&__column-four {
		flex: 0 1 50%;
		display: flex;
		@media (max-width: $tablet) {
			flex: 1 1 100%;
		}
	}

	&__body {
		flex: 0 1 90%;
		padding: 0px 10px 0px 16px;
	}

	&__title {
		margin: 0px 0px 28px 0px;
		font-size: 22px;
		font-family: "Akzidenz-Grotesk-BQ";
		color: rgb(0, 0, 0);
		text-transform: uppercase;
		line-height: 1;
	}

	&__text {
		font-size: 15px;
		color: rgb(0, 0, 0);
		line-height: 1.667;
	}

	&__block-img {
		background-color: #000000;
		width: 120px;
		height: 100px;
		display: flex;
	}
}
.block-item__img {
	margin: 20px auto;
	max-width: 65%;
	max-height: 65%;
}

/*block-inform*/

.block-inform {
	padding: 82px 0px 25px 0px;

	&__title {
		font-size: 50px;
		font-family: "Akzidenz-Grotesk-BQ";
		color: rgb(0, 0, 0);
		text-transform: uppercase;
		line-height: 0.5;
		text-align: left;
		margin: 0px 0px 35px 0px;
	}

	&__columns {
		display: flex;
		position: relative;
		padding: 0px 0px 0px 35px;
		@media (max-width: $mobile) {
			flex-wrap: wrap;
		}
	}

	&__column-left {
		flex: 0 1 50%;
		margin: 0px 5px 0px 0px;
		@media (max-width: $mobile) {
			flex: 1 1 100%;
		}
	}

	&__text {
		font-size: 15px;
		color: rgb(0, 0, 0);
		line-height: 1.667;
		margin: 0px 0px 30px 0px;
		&_message-- {
			margin: 0px 0px 30px 35px;
		}
		&:nth-last-child(1) {
			margin: 0px 0px 0px 0px;
		}
		&_tx--::before {
			content: "";
			background: url("@img/block-icons/vv.png") 0px 0 no-repeat;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		&_message--::before {
			content: "";
			background: url("@img/block-icons/email.png") 0 2px no-repeat;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
		&_tel--::before {
			content: "";
			background: url("@img/block-icons/telephone.png") 0 0 no-repeat;
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__column-right {
		flex: 0 1 50%;
		position: relative;
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			margin: 30px 0px 0px -30px;
		}
	}

	&__link {
		margin: 0px 33px 0px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}
/*contacts*/
.contacts {
	&__row {
		display: flex;
		flex-wrap: wrap;
	}
	&__title {
		font-size: 25px;
		font-family: "Akzidenz-Grotesk-BQ";
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		line-height: 1;
		margin: 0px 0px 25px 0px;
	}
	&__image {
		flex: 0 1 50%;
		@media (max-width: $mobile) {
			flex: 1 1 100%;
		}
	}

	&__forms {
		padding: 55px 0px 55px 60px;
		flex: 0 1 50%;
		background-color: #000000;
		@media (max-width: $pc) {
			padding: 35px 10px 35px 30px;
		}
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			color: #cf2323;
		}
	}

	&__form-name {
		border: 3px solid rgb(149, 149, 149);
		max-width: 378px;
		height: 50px;
		background-color: #252525;
		color: #ebebeb;

		&::placeholder {
			font-size: 15px;
			color: rgb(149, 149, 149);
			line-height: 1.667;
			padding: 20px 20px 20px 20px;
			background-color: #252525;
		}
	}

	&__form-email {
		border: 3px solid rgb(149, 149, 149);
		max-width: 378px;
		height: 50px;
		color: #ebebeb;
		background-color: #252525;
		margin: 25px 0px 25px 0px;
		&::placeholder {
			font-size: 15px;
			color: rgb(149, 149, 149);
			line-height: 1.667;
			padding: 20px 20px 20px 20px;
			background-color: #252525;
		}
	}

	&__form-textarea {
		border: 3px solid rgb(149, 149, 149);
		max-width: 378px;
		min-height: 107px;
		background-color: #252525;
		color: #ebebeb;
		margin: 0px 0px 25px 0px;
		&::placeholder {
			font-size: 15px;
			color: rgb(149, 149, 149);
			line-height: 1.667;
			padding: 20px 20px 20px 20px;
			background-color: #252525;
		}
	}

	&__form-button {
		display: block;
		color: #000000;
		font-size: 15px;
		line-height: 1.667;
		font-weight: 500;
		text-transform: uppercase;
		background-color: #fff;
		max-width: 160px;
		padding: 5px 0px 5px 0px;
	}
}
