@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

// Підключити, якщо є локальні файли шрифтів
// @import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
// @import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "PT Sans";
$fontSize: toRem(14); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням

// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 880;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Підключення компонентів tailwind ============================================================================================================================================================================================== =============================================================================================== ===========================================================================
// @import "libs/tailwind";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// scrollbar-gutter: stable;
	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт завантажений
	// .loaded & {
	// }
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Притискаємо footer
	> main {
		flex: 1 1 auto;
	}
	// Фікс для слайдерів
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// (i) Експерементальний функціонал
// Заміна обмежуючому контейнеру
[class*="--gc"] {
	@include gridContainer();
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";

.page {
}

/*SLIDER*/
.slider {
	&__row {
		display: flex;
	}

	&__image {
		flex: 1 1 50%;
		@media (max-width: $mobileSmall) {
			display: none;
			flex: 1 1 100%;
		}
	}

	&__body {
		padding: 75px 20px 75px 60px;
		flex: 1 1 50%;
		background-color: #000000;
	}
	&__contaner-body {
		max-width: 310px;
		margin: 0px auto;
	}
	&__title {
		font-size: 50px;
		font-family: "Akzidenz-Grotesk-BQ";
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		line-height: 1;
		margin: 0px 0px 30px 0px;
		@media (max-width: $mobile) {
			font-size: 35px;
			margin: 0px 0px 20px 0px;
		}
	}

	&__text {
		font-size: 15px;
		color: rgb(255, 255, 255);
		line-height: 1.667;
		margin: 0px 0px 50px 0px;
		@media (max-width: $mobile) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__button {
		padding: 5px 5px 5px 5px;
		font-size: 15px;
		font-family: "Bebas";
		text-decoration: underline;
		text-transform: uppercase;
		line-height: 1.667;
		text-decoration: none;
		background-color: #fff;
		margin: 0px 20px 0px 0px;
		@media (max-width: $mobile) {
			margin: 0px 10px 0px 0px;
		}
	}
	&__link {
		color: #ffffff;
		font-size: 15px;
		font-family: "Bebas";
		color: rgb(255, 255, 254);
		text-decoration: underline;
		text-transform: uppercase;
		line-height: 1.667;
		text-decoration: underline;
		@media (max-width: 590px) {
			margin: 10px 0px 0px 5px;
		}
	}
}

/*columns*/
.columns {
	padding: 75px 0px 40px 0px;
	@media (max-width: $tablet) {
		padding: 40px 0px 40px 0px;
	}

	&__container {
	}

	&__body {
	}

	&__row {
	}

	&__column {
		flex: 0 1 25%;
		display: flex;
		@media (max-width: $tablet) {
			flex-wrap: wrap;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		@media (max-width: $tablet) {
			flex: 0 1 50%;
		}
		@media (max-width: 480px) {
			flex: 1 1 100%;
		}
	}

	&__img {
	}

	&__title {
		font-size: 25px;
		font-family: "Akzidenz-Grotesk-BQ";
		color: rgb(0, 0, 0);
		text-transform: uppercase;
		line-height: 1;
		margin: 20px 0px 42px 0px;
		max-width: 170px;
		@media (max-width: $mobile) {
			margin: 10px 0px 20px 0px;
		}
	}

	&__text {
		font-size: 15px;
		color: rgb(0, 0, 0);
		padding: 0px 10px 0px 0px;
		flex: 1 1 100%;
		max-width: 170px;
		@media (max-width: $mobile) {
			max-width: none;
		}
	}

	&__button {
		font-size: 15px;
		font-family: "Bebas";
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		line-height: 1.667;
		justify-content: flex-start;
		display: flex;
		margin: 30px 0px 30px 0px;
		margin: 15px 0px 15px 0px;
	}

	&__button-link {
		background-color: #010101;
		padding: 5px 5px 5px 5px;
	}

	&__link {
		display: block;
		font-size: 15px;
		font-family: "Bebas";
		color: rgb(0, 0, 0);
		text-decoration: underline;
		text-transform: uppercase;
		line-height: 1.667;
		margin: 0px 0px 40px 0px;
		& a {
			text-decoration: underline;
		}
	}
}
